@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=K2D:wght@400;800&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Rubik', sans-serif;
*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    overflow-x: hidden;
}
body
{
    overflow-x: hidden;
}
:root
{
    --blue-primary:#011c40;
    --blue-secondary:#03658c;
    --blue-smoth:#04b2d9;
    --green-smooth: #04d98b;
    --green-lima: #04d9b2;
}

.apresentation
{

    width: 100%;
    background-color: var(--blue-primary);
    height: 100vh;
}
.relogio
{
    height: 100vh;
    width: 100%;
    background: var(--blue-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.re_container
{
    display: flex;
    gap: 5rem;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}
.re_counters
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
    background-color: black;
}
.re_numbers
{
    font-family: 'K2D', sans-serif;
    font-size: 6rem;
    color: white;
    font-weight: bolder;
    overflow-y: hidden;
}
.re_temp
{
    color: var(--blue-secondary);
    font-size: 1.5rem;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    overflow-y: hidden;
}


@media(max-width: 880px)
{
    .re_container
    {
        flex-direction: column;
        gap: 3rem;
        height: 90%;
        width: 30vh;
        justify-content: center;
        align-items: center;
        margin:0rem;
    }
    .re_counters
    {
        gap: 0rem;
        width: 100%;
    }
}








/*

.re_container
{
    display: flex;
    gap: 5rem;
    padding: 50px;
    margin: 10rem;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}
.re_counters
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
    background-color: black;
}
.re_numbers
{
    font-family: 'K2D', sans-serif;
    font-size: 6rem;
    color: white;
}
.re_temp
{
    color: white;
    font-size: 1.5rem;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
}