@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=K2D:wght@400;800&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Rubik', sans-serif;
*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    overflow-x: hidden;
}
body
{
    overflow-x: hidden;
}
:root
{
    --blue-primary:#011c40;
    --blue-secondary:#03658c;
    --blue-smoth:#04b2d9;
    --green-smooth: #04d98b;
    --green-lima: #04d9b2;
}

.apresentation
{
    width: 100%;
    background-color: var(--blue-primary);
}
.relogio, .cronometro, .contador
{
    height: 100vh;
    width: 100%;
    background-color: var(--blue-primary);
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    display: none;
}
.calculator_imc
{
    height: 100vh;
    width: 100%;
    background-color: var(--blue-primary);
    font-family: 'K2D', sans-serif;
    font-weight: 500;
}
/*---------------------------------RELOGIO---------------------------------*/

.re_content, .cr_container
{
    height: 80%;
    flex-direction: column;
    width: 100%;
    background: var(--blue-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title
{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20%;
}
.re_title
{
    color: var(--blue-primary);
    font-family: 'K2D', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 20px;
    width: 50%;
    overflow-y: hidden;
    border-radius: 0px 100px 100px 0px;
    background: linear-gradient(to left, var(--blue-secondary), var(--blue-primary));
    box-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.3);
}

.re_container
{
    display: flex;
    gap: 5rem;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}
.re_counters
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
    background-color: black;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.re_counters:hover
{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.re_numbers
{
    font-family: 'K2D', sans-serif;
    font-size: 6rem;
    color: white;
    font-weight: bolder;
    overflow-y: hidden;
}
.re_temp
{
    color: var(--blue-secondary);
    font-size: 1.5rem;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    overflow-y: hidden;
}


/*-----------------------------CRONOMETRO---------------------------------*/


.cr_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}
.timer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 350px;
    width: 350px;
    border: 5px solid white;
    border-radius: 50%;
    font-family: 'K2D', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--blue-smoth);
    margin-bottom: 1.5rem;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}

.actions
{
    display: flex;
    gap: 0.5rem;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}
.actions button
{
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.actions button:hover
{
    transform: scale(1.1);
    background-color: var(--blue-secondary);
    color: black;
}
.control
{
    margin-left: 2rem;
}

#cr_marks_list
{
    margin-top: 2rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    max-height: 270px;
    height: 270px;
    border-bottom: 2px solid white;
}
#cr_marks_list p
{
    margin-bottom: 5px;
    background: linear-gradient(to right, black, transparent);
}
/*-----------------------------CONTADOR---------------------------------*/

.con_container
{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con_content
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
    align-items: center;
    width: 50%;
    height: 70%;
    padding: 2rem;
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    border-radius: 20px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}
.quantityControl
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
}
#value
{
    font-size: 8rem;
    color: white;
    max-width: 55%;
    text-align: center;
}
.con_content button
{
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.3);
}

.count_button
{
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    margin-right: 1rem;
    background-color: black;
    transition: all .4s ease-in-out;
}
.count_button:hover
{
    transform: scale(1.05);
    background-color: var(--blue-secondary);
}
.count_button:last-child
{
    margin-right: 0rem;
    margin-left: 1rem;
    z-index: 10;
    position:sticky;
}
#resete
{
    width: 100%;
    font-size: 30px;
    padding: 1.5rem;
    transition: all .4s ease-in-out;
}
#resete:hover
{
    background-color: var(--blue-secondary);
}

/*-----------------------------CALCULADORA IMC---------------------------------*/

.IMC_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    gap: 3.5rem;

}

.IMC_content
{
    background-color: #03658c;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: white;
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    border-radius: 20px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
    
}
.IMC_content form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.titulo
{
    font-size: 2.5rem;
    position: relative;
}
.titulo::after
{
    position: absolute;
    content: '';
    background-color: var(--blue-primary);
    width: 8rem;
    height: 5px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}
.input_box label{
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}
.input_field
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    background-color: black;
    border-radius: 3px;
    margin-top: 3px;
}
.input_field span,
.input_field i
{
    color: white;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input_field input
{
    background: transparent;
    border: none;
    font-size: 1.3rem;
    width: 100%;
    color: white;
    padding: 0 0.5rem;
}
.input_field input::-webkit-outer-spin-button,
.input_field input::-webkit-inner-spin-button
{
    appearance: none;
}
.input_field input:focus
{
    outline: none;
}

#calculate
{
    background-color: black;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
#calculate:hover
{
    background-color: var(--blue-secondary);
}
#result
{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 2px solid var(--blue-primary);
    padding: 0.75rem 0;
}
#bmi
{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}
#bmi span:last-child
{
    font-size: 0.9rem;
    color: var(--blue-primary);
}

#description
{
    width: 15.5rem;
}
#more_info
{
    border-top: 2px solid var(--blue-primary);
    padding-top: 1.5rem;
}
#more_info a
{
    text-align: center;
    color: var(--blue-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.hidden
{
    display: none;
}




::-webkit-scrollbar
{
    background-color: var(--blue-secondary);
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--blue-smoth);
    border-radius: 40px;
}



/*
@media(max-width: 880px)
{
    .re_container
    {
        flex-direction: column;
        gap: 3rem;
        height: 100%;
        width: 30vh;
        justify-content: space-between;
        align-items: center;
        margin:0rem;
    }
    .re_counters
    {
        gap: 0rem;
        width: 100%;
    }
    .title
    {
        width: 70%;
    }

    /*Cronometro*/
/*
    .cr_content
    {
        width: 90%;
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .actions button
    {
        width: 20vw;
    }
    .control
    {
        margin-left: 0rem;
        overflow-y: hidden;
    }
}

@media(max-width: 500px)
{
    .re_content
    {
        justify-content: none;
        height: 85vh;
    }
    .re_container
    {
        flex-direction: column;
        gap: 3rem;
        height: 100%;
        width: 30vh;
        justify-content: space-between;
        align-items: center;
        margin:0rem;
    }
    .re_counters
    {
        gap: 0rem;
        width: 100%;
    }
    .title
    {
        width: 70%;
    }

    .timer
    {
        width: 200px;
        font-size: 20px;
    }
}


/*




.cronometro
{
    height: 100vh;
    width: 100%;
    background: var(--blue-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cr_content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}
#timer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 250px;
    width: 250px;
    border: 5px solid white;
    border-radius: 50%;
    font-family: 'K2D', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--blue-smoth);
    margin-bottom: 1.5rem;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}

.actions
{
    display: flex;
    gap: 0.5rem;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}
.actions button
{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all .5ms ease-in-out;
}
.actions button:hover
{
    transform: scale(1.1);
    background-color: var(--blue-secondary);
    color: black;
}

#cr_marks_list
{
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    overflow-y: hidden;
}













.re_container
{
    display: flex;
    gap: 5rem;
    padding: 50px;
    margin: 10rem;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(280deg, var(--blue-secondary), var(--blue-primary));
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
}
.re_counters
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.3);
    background-color: black;
}
.re_numbers
{
    font-family: 'K2D', sans-serif;
    font-size: 6rem;
    color: white;
}
.re_temp
{
    color: white;
    font-size: 1.5rem;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
}